@using EffundoTest.Component
<div class="row Footer">

    <div class="col">
        <div class="LogoContainer">
            <a class="LogoLink" href="">Effundo</a>
            Gratis Webløsninger
        </div>
        <br />
        <PayPalDonateButton/>
    </div>

    <div class="col">
        <div class="FooterInfo">
            Telefontid:<br />
            Mandag kl. 12:00-14:00<br />
            Onsdag kl. 10:00-12:00<br />
            <br />
            Telefon: +45 24 62 88 49<br />
            <br />
            Mail: kontakt@effundo.org<br />
            CVR-nummer: 43 50 15 93<br />
            Presse: +45 24 62 88 49<br />
            <br />
            effundo.org
        </div>
    </div>

    <div class="col">
        <div class="SocialMediaIconContainer">
            <SocialMediaIcon Source="/image/Facebook-logo.png"/>
            <SocialMediaIcon Source="/image/Facebook-logo.png"/>
            <SocialMediaIcon Source="/image/Facebook-logo.png"/>
            <SocialMediaIcon Source="/image/Facebook-logo.png"/>
        </div>
    </div>

    <div class="col">
        <div class="FooterInfo">
            Adresse:<br />
            Hos Andreas<br />
            5000 Odense<br />
            <br />
            Om Effundo<br /> @*TODO: Apply links with <a>*@
            Cookiepolitik<br />
            Persondatapolitik<br />
            Tilgængelighedserklæring<br />
        </div>
    </div>
</div>