@page "/bliv-frivillig"
@using EffundoTest.Component.TableOfContents

<PageTitle>Bliv Frivillig - Effundo</PageTitle>

<h2>BlivFrivillig</h2>

Effundo drives som en nonprofitorganisation, hvor arbejdskraften udgøres af frivillige, der uden en forventning om økonomisk kompensation stiller deres tid og kompetencer til rådighed for organisationen. Dette betyder, at arbejdskraften i Effundo bygger individer, der oprigtigt ønsker at gøre samfundet bedre. Bliv frivillig og hjælp os med at hjælpe andre nonprofitorganisationer med at få en bedre digital tilstedeværelse. På denne side kan du læse mere om, hvordan du bliver frivillig, samt hvad det præcist indebærer.

<TableOfContents/>

<h2>Hvorfor en frivillig arbejdskraft?</h2>

Arbejdskraften i Effundo udgøres af frivillig, hvilket, der er flere årsager til. Frivillige drives i deres arbejde ikke af en forventning om monetær kompensation, hvorfor deres motivation bygger på ikke-økonomiske forhold, eksempelvis at gavne deres samfund. I Effundo arbejder vi mod at fremme nonprofitorganisationers digitale tilstedeværelse gennem udarbejdelse af hjemmeside, gennemførsel af søgemaskineoptimering (SEO) samt sikring af webtilgængelighed. Disse målsætninger hjælper indirekte nonprofitorganisationer med at levere ydelser til folk i nød ved at bringe mere trafik til deres hjemmesider og skabe bedre brugeroplevelser. På denne måde kan samfundsorienterede hjælpe deres samfund og mennesker i nød ved at stå til rådighed som frivillig for Effundo.

En anden årsag til at have frivillige er, at Effundo er en nonprofitorganisation, hvor målet ikke er at skabe profit. Vi tilbyder vores ydelser gratis til nonprofitorganisationer, hvorfor vores finansielle midler er stærkt begrænsede. Frivillige gør det muligt at øge vores arbejdsstyrke og hjælpe flere organisationer uden samtidigt at øge de finansielle omkostninger. At være nonprofit er altafgørende for at kunne hjælpe andre nonprofitorganisationer, da de ligesom os er begrænsede i deres finanser og i stort omfang selv drives af frivilliges arbejdskraft. At kræve økonomisk kompensation for vores ydelser vil derfor stærkt begrænse andre nonprofitorganisationers mulighed for at kunne benytte sig af vores hjælp, hvilket vil være en hæmsko for at nå i mål med vores målsætninger. Samtidigt er vi som nonprofitorganisation uafhængig af økonomiske interesser og kan fokusere vores indsats mod at levere de bedst mulige ydelser ud fra et værdisæt bestående af troværdighed, neutralitet og kvalitet.

<h2>Hvem kan være frivillig?</h2>

I Effundo søger vi frivillige af alle slags kaliber. Du behøver ikke have nogen relevant uddannelse inden for web, søgemaskineoptimering, webtilgængelighed eller software for at kunne hjælpe os. Vi er interesserede i alle, der har mod på at prøve kræfter med alt indenfor organisationsdrift. Det er vigtigt for os, at du er nysgerrig på at lære nye ting, er troværdig og interesseret i at levere en indsats af høj kvalitet. Derfor opfordrer vi alle til at kontakte os, hvor vi gennem en dialog tager dine interesser for øje ift., hvilke opgaver du har lyst til at hjælpe os med.

<h2>Hvorfor blive frivillig?</h2>

At være frivillig ved Effundo betyder, at du har mulighed for at få nye kompetencer i alt inden for web, heriblandt webudvikling, webdesign, SEO, webtilgængelighed og software. Derudover kan du udvikle dine kompetencer inden for organisationsdrift og administration samt de ad hoc opgaver der indgår i at drive en organisation. Du kan skrive Effundo på dit CV og vi skriver gerne en anbefaling og fremgår som reference.

Effundo er fortsat en ny organisation og har derfor et stort udviklingspotentiale. Derfor er mulighederne for hurtigt at få meget ansvar store, da vi konstant søger at udvide Effundo og vores udbud af ydelser. Vi vægter feedback utroligt højt og dine inputs til organisatoriske forbedringer er sikret at blive hørt og inddraget.


<h2>Søg som frivillig</h2>

Vi har gjort det utroligt nemt for dig at søge som frivillig. I den følgende formular kan du hurtigt udfylde de relevante felter med dine informationer. Du har også mulighed for at kontakte vores PR-ansvarlig gennem mailen: <a href="kontakt@effundo.org">kontakt@effundo.org</a>. Efter at have taget kontakt til os, vil du blive kontaktet af vores team.
@code {

}
