@layout ArticleLayout
@page "/hjaelp-med-web"

@using EffundoTest.Component.TableOfContents

<PageTitle>Hjælp med web</PageTitle>

<h2>Hjælp med Web</h2>

<p>Effundo er en organisation, der udbyder gratis webløsninger til nonprofitorganisationer. Vi har til formål at fremme nonprofitorganisationers digitale tilstedeværelse, da de typisk er involveret i leveringen af service, der har til formål at redde liv, kæmpe for eller tage vare på marginaliserede grupper. Vores hjælp betyder, at de har bedre forudsætninger for at gøre verden til et bedre sted. På denne side kan du læse mere om, hvad vores hjælp med web indebærer, og hvordan det kan gavne din nonprofitorganisation.</p>

<p>Vores webløsninger kan kort opsummeres som gratis rådgivning og assistance med:</p>

<ul>
  <li>Udarbejdelse af hjemmesider</li>
  <li>Søgemaskineoptimering (SEO)</li>
  <li>Webtilgængelighed</li>
</ul>

<p>Vi udbyder hjælp i form af rådgivning, hvor vores hjælp består af strategiske overvejelser og faglige tips for forbedring. Derudover tilbyder vi hjælp i form af assistance, hvor vi aktivt bistår organisationen med vores faglige evner til at implementere de ønskede forbedringer. </p>

<TableOfContents/>

<h2>En moderne og professionel hjemmeside</h2>

Vores erfaringer med udarbejdelse af hjemmesider betyder, at vi kan sikre dig en hjemmeside, der er tilpasset den moderne tid og dens tekniske krav, og en, der lever op til dine professionelle behov.

Vi sikrer dig et webdesign i et stilistisk design, der passer med din vision og udtrykker din organisations unikke identitet.  

Vores helhedsorienterede fokus betyder, at vi inkorporerer marketingsmæssige overvejelser i designet, der hjælper dig med at med hurtigt at etablere dig som digital platform.

Vores rådgivning gør dig opmærksom på nødvendigheden af en hjemmeside i det moderne samfund, og de mange fordele, du kan forvente som følge af et professionelt og æstetisk design. En hjemmeside betyder, at du undgår administrativt bøvl og øger dine muligheder for at nå ud til flere mennesker. 

Vi hjælper med udarbejdelsen af hjemmesiden, deler vores erfaringer og hjælper med at skabe en helhedsorienteret, strategisk plan for, hvordan hjemmesiden bedst muligt reflekterer dit behov og vision. Vores erfaring med Lean betyder, at fremgangsmåden vil tage højde for effektivitet og reduktion af tidsspilde. 

<h2>Flere besøgende gennem vores søgemaskineoptimering</h2>

Vi brænder for at gennemføre <a href="https://da.wikipedia.org/wiki/S%C3%B8gemaskineoptimering">søgemaskineoptimering</a> (SEO). Hos os er du sikret en udførlig analyse af søgetendenser, der betyder, at dine sider er optimeret til at rangere højt på Googles søgeresultater, hvilket giver din organisation autoritet, troværdighed og flere besøgende. SEO er blandt de mest omkostningseffektive løsninger for at få flere besøgende, og du kan få den gratis hos os.

Gennem vores rådgivning bliver du indviet i de mange aspekter af SEO, og hvordan disse succesfuldt skal implementeres på din hjemmeside. Du vil få forståelse for, at SEO vedrører alt på din hjemmeside, og gennem vores hjælp får du blik for, hvordan du opretter en strategisk handleplan for, hvordan du mest effektivt griber problemerne an. 

Vi assisterer med implementeringen af SEO, hvor vi med fordel drager på vores mange erhvervserfaringer. Vi sikrer en hurtig og effektiv implementering af SEO på højeste niveau. Med os er du garanteret en vellykket SEO-proces, hvor vi tager højde for de mange aspekter af SEO, og hvordan dette i bedst muligt omfang kan spille sammen med din hjemmeside.

<h2>Bedre brugeroplevelser gennem øget webtilgængelighed</h2>

<a href="https://digst.dk/digital-service/webtilgaengelighed/">Webtilgængelighed</a> er en hjertesag for os, da det betyder, at marginaliserede grupper i større grad kan få gode oplevelser på nettet. Det er også grunden til, at vi i vores <a href="https://localhost:7234/tilgaengelighedserklaering/">tilgængelighedserklæring</a> forpligter os på at fremme webtilgængelighed. Derfor står vi klar til gratis at sikre, at din organisations hjemmeside lever op til den nye standard for webtilgængelighed.

Webtilgængelighed giver bedre brugeroplevelser, da det betyder, at man opsætter og strukturerer sin hjemmeside, så den er tilgængelig for handicappede brugere. Ligesom SEO omhandler webtilgængelighed stort set alle aspekter af en hjemmeside. At være webtilgængelig indebærer eksempelvis at sikre, at blinde gennem en skærmlæser kan få adgang til alle relevante dele af en hjemmeside.

Vores rådgivning om webtilgængelighed sikrer dig et vågent blik over de mange overvejelser, der er nødvendige for at kunne kalde sig webtilgængelig. Vi hjælper dig med at udarbejde en strategisk indsatsplan, der sikrer en koordineret løsning for, hvordan din hjemmeside bliver tilgængelig for de 15% af befolkningen, der grundet et handicap ville få en dårlig brugeroplevelse fra din hjemmeside.

Lad os hjælpe dig med at blive webtilgængelig, hvor vi gennem vores aktive assistance skaber en effektiv og fokuseret indsats for webtilgængelighed. Vores erfaringer med webtilgængelighed betyder, at vi præcist kan isolere problemerne, og i samarbejde med dit team sikre, at din hjemmeside bliver tilgængelig for alle.

<h2>Gratis professionel hjælp</h2>

Vi tilbyder vores hjælp gratis til nonprofitorganisationer, og du kan vælge enten at få rådgivning eller assistance med udarbejdelse af en hjemmeside, SEO og webtilgængelighed.

Vi tilbyder alene hjælp til nonprofitorganisationer. Så hvis du falder under kategorien som en organisation, der ikke har til formål at generere profit, så kan vi hjælpe dig. Eksempler på nonprofitorganisationer er: Nødhjælpsorganisationer, velgørenhedsorganisationer og organisationer, der kæmper for marginaliserede grupper.

Tag kontakt til vores PR-ansvarlig for at få hjælp nu. Du kan også udfylde den følgende formular. Herefter vil den ansvarlige tage kontakt til dig, hvorefter I vil afklare typen og omfanget af din opgave.

@code {

}
