@page "/"

<PageTitle>Effundo - Effundo</PageTitle>

<div>
  <h2>
    Gratis webløsninger til nonprofitorganisationer
  </h2>
  <p>
    Effundo har til mission at optimere nonprofitorganisationers digitale tilstedeværelse. Vi hjælper din organisation med webdesign, søgemaskineoptimering (SEO) og webtilgængelighed, så du har bedre forudsætninger for at levere dine ydelser.
  </p>
  <button>
    Optimer din hjemmeside nu
  </button>
</div>
<div>
  <h2>
    Få en professionel hjemmeside i den moderne stil
  </h2>
  Vi tilbyder gratis rådgivning og hjælp med oprettelse af en professionel hjemmeside, der reflekterer din organisations unikke identitet, værdier og mission. En hjemmeside giver dig:
  <ul>
    <li>
      En digital platform
    </li>
    <li>
      Øget troværdighed
    </li>
    <li>
      24/7 brugertilgængelighed
    </li>
  </ul>
  <div>
    <img src="/image/livingspace.jpg" width="500" height="500" />
  </div>
</div>
<div>
  <h2>
    Ranger højere på Google og få flere besøgende
  </h2>
  Vi hjælper dig gratis med søgemaskineoptimering (SEO), så du kan rangere højere på Googles søgeresultater og tiltrække flere besøgende. SEO hjælper dig med at:
  <ul>
    <li>
      Tiltrække flere besøgende
    </li>
    <li>
      Blive mere troværdig
    </li>
    <li>
      Øge din return-on-investment
    </li>
  </ul>
  <div>
    <img src="/image/soegeresultater_din-organisation-q2ax4d8orme3ewgep2njf3dndttiuos6dalc9gbh8g.jpg" width="500" height="500" />
  </div>
</div>
<div>
  <h2>
    Maksimer dit outreach og få bedre brugeroplevelser
  </h2>
  Vi hjælper dig med at blive webtilgængelig, hvilket både forbedrer anvendeligheden og oplevelsen af at besøge din hjemmeside. Webtilgængelighed betyder, at din hjemmeside:
  <ul>
    <li>
      Får bedre brugeroplevelser
    </li>
    <li>
      Får flere besøgende
    </li>
    <li>
      Bliver forsikret mod søgsmål
    </li>
  </ul>
  <div>
    <img src="/image/Skaermbillede-2023-02-02-kl.-19.27.54-q1kwvaczvmoem2yqov87tgblz9van7y90mxr876dc0.png" width="500" height="500" />
  </div>
</div>
<div>
  <h2>
    Start samarbejdet med Effundo nu og få hjælp med dine digitale udfordringer - helt gratis
  </h2>
  <button>
    Bliv samarbejdespartner i dag
  </button>
</div>
<div>
  <h2>
    Få vores hjælp som
  </h2>
  <div>
    <h2>
      Rådgivning
    </h2>
    Vores konsulenter står klar til at rådgive dig om, hvordan du prioriterer din hjemmeside, SEO og webtilgængelighed. Vi tilbyder målrettet rådgivning af udfordringerne i din organisation og udarbejder en strategisk handleplan, der hjælper dig med at prioritere optimering gennem indsigter i:
    <ul>
      <li>
        Webdesign
      </li>
      <li>
        Best Practice SEO
      </li>
      <li>
        AAA Webtilgængelighed
      </li>
    </ul>
  </div>
  <div>
    <h2>
      Assistance
    </h2>
    Vores hold af webredaktører, -designere og -udviklere står klar med en strategisk og nøgtern indsats for at optimere din hjemmeside. Vi er omkostningseffektive og gør det helt gratis. Med vores assistance kan du prioritere drift og andre målsætninger, mens vi eksempelvis:
    <ul>
      <li>
        Udarbejder din hjemmeside
      </li>
      <li>
        Udfører SEO
      </li>
      <li>
        Øger din webtilgængelighed
      </li>
    </ul>
  </div>
  <div>
    <h2>
      Vi tilbyder gratis hjælp med
    </h2>
    <button>
      Webdesign
    </button>
    <button>
      SEO
    </button>
    <button>
      Webtilgængelighed
    </button>
  </div>
</div>