@page "/kontakt-os"
<PageTitle>Kontakt Os - Effundo</PageTitle>

<h2>Kontakt Os</h2>

Ønsker du at komme i kontakt med Effundo? Eksempelvis i forbindelse med spørgsmål om organisationen, vores formål eller for at høre om muligheden for at få gratis hjælp med web. Så har du på denne side mulighed for at finde vores kontaktpersoner, der står klar til at hjælpe dig med at få svar på dine spørgsmål.

Effundo tilbyder rådgivning og assistance med hjemmesideudvikling, søgemaskineoptimering (SEO) og webtilgængelighed. Hvis du ønsker at få vores hjælp og indgå et samarbejde, kan du kontakte os gennem de følgende informationer.
Alt kommunikation foregår gennem vores PR-ansvarlig. Her kan du indsende spørgsmål om alt fra rådgivning og assistance til spørgsmål om organisationen eller hjemmesiden. Herefter vil den bedst egnede ansvarlige blive koblet på din sag, hvorefter du vil modtage svar.

<h2>Kontaktperson</h2>

<h3>Emil Meyer-Hansen</h3>

PR-ansvarlig

Telefon: 24 62 88 49
Email: <a href="kontakt@effundo.org">kontakt@effundo.org</a>



@code {

}
