@page "/om-os-2"
@using EffundoTest.Component.TableOfContents
<PageTitle>Om os - Effundo</PageTitle>

<h2>Om Effundo</h2>

Effundo er en <a href="https://ordnet.dk/ddo/ordbog?query=nonprofitorganisation">nonprofit-organisation</a>, der blev stiftet d. 10/9/2022 af Emil Niclas Meyer-Hansen og Andreas Lomborg Bosteen. Organisationen er baseret i Odense Kommune i Danmark. På denne side kan du læse mere om os.


Hovedformålet med Effundo er at fremme nonprofit-organisationers (NPO’er) digitale tilstedeværelse. Her stiller Effundo gratis rådgivning og assistance til rådighed for NPO’er for at hjælpe dem med at opnå en mere solid digital platform. Effundo rådgiver om betydningen af at have en hjemmeside, om <a href="https://da.wikipedia.org/wiki/S%C3%B8gemaskineoptimering">søgemaskineoptimering</a> (engelsk: <i>search engine optimization</i>, SEO) og <a href="https://digst.dk/digital-service/webtilgaengelighed/">webtilgængelighed</a> (engelsk: <i>accessibility</i>).

Udover rådgivning, stiller Effundo sine samarbejdspartneres kompetencer til rådighed for NPO’er, der kan assistere med udarbejdelse af hjemmeside, SEO og forbedring af webtilgængelighed.

Da Effundo er en nonprofit-organisation, udbydes vores ydelser gratis til andre nonprofit-organisationer. Dette gør vi, da vi er interesserede i at bidrage til leveringen af sociale ydelser, der hjælper folk i nød. Vores ydelser hjælper andre NPO’er med at få en mere solid tilstedeværelse på den digitale platform, hvilket vil hjælpe dem med at levere deres service til flere mennesker.

<TableOfContents/>

<h2>Oprindelse</h2>

Effundo blev som koncept undfanget af Emil Niclas Meyer-Hansen og Andreas Lomborg Bosteen fredag d. 26/8/2022. Begge parter havde erfaring med arbejdet med hjemmesider: Emil gennem hans arbejde som webredaktør for <a href="https://medarbejdere.au.dk/administration/administration/administrationscenter-nat-tech/nat-tech-kommunikation">Nat-Tech Kommunikation</a> ved <a href="https://www.au.dk/">Aarhus Universitet</a>, hvor han bl.a. arbejdede med webdesign, SEO og webtilgængelighed. Andreas var færdiguddannet som datamatiker fra <a href="https://www.ucl.dk/">UCL Erhvervsakademi og Professionshøjskole</a> med praktikplads hos <a href="https://houseof-seo.dk/">House of SEO</a>, som har speciale i SEO og online marketing.

Parterne var begge nysgerrige efter at prøve kræfter i et fælles projekt, og med Emils erfaring som frivillig for <a href="https://vegetarisk.dk/">Dansk Vegetarisk Forening</a>, blev det oplagt at starte deres egen nonprofit-organisation. Her var hensigten at udbyde gratis rådgivning og assistance i udarbejdelsen af hjemmesider, udførelsen af SEO og forbedring af webtilgængelighed. Ved at udføre disse frivillige tjenester under organisatoriske rammer, kunne de to parter bedre organisere og promovere deres hjælp til NPO’erne.

Organisationen blev stiftet d. 10/9/2022 og fik navnet Effundo, der er latin for “Jeg hælder”, der tog inspiration fra bibelpassagen:


<i>
  Until the Spirit is poured on us from on high, and the wilderness becomes a fruitful field, and the fruitful field is considered a forest.

</i>
(<a href="https://sarata.com/bible/web/chapter/Isaiah.32.html#32:15">Isaiah 32:15</a>)

På denne måde er navnet et symbol på den hjælp, som stifterne ønsker at bistå NPO’erne med.


<h2>Stifterne</h2>

<h3>Emil Meyer-Hansen</h3>

<strong>Uddannelse:</strong>

<a href="https://bachelor.au.dk/statskundskab">Bachelor i Statskundskab, Aarhus Universitet.</a>

<strong>Erhvervserfaring:</strong>

<ul>
  <li>SEO</li>
  <li>Webtilgængelighed</li>
  <li>Webdesign</li>
  <li>Kundeservice</li>
  <li>Rådgivning</li>
  <li>Hjemmesideopsætning</li>
  <li>Databeskyttelse</li>
  <li>HTML</li>
  <li>Google Analytics</li>
  <li>Lean</li>
</ul>

  <a href="https://linkedin.com/in/emil-meyer-hansen-966509243">
    <img src="/image/Facebook-logo.png" height="50" width="50"/>
  </a>

@code {

}
