@page "/stoet-vores-arbejde"
@using EffundoTest.Component.TableOfContents
<PageTitle>Støt vores arbejde - Effundo</PageTitle>

<h2>Støt vores arbejde</h2>

Effundo er en nonprofitorganisation, der tilbyder gratis webløsninger. Det betyder, at vi ikke har til formål at generere profit, og at vi ikke tager betaling for den service, som vi tilbyder til andre nonprofitorganisationer. For at kunne fungere finansielt er vi derfor afhængige af vores bidragydere, der giver økonomisk støtte til Effundo. Din hjælp er derfor afgørende for, at vi kan fremme andre nonprofitorganisationers digitale tilstedeværelse. På denne side kan du læse mere om dine muligheder for at støtte vores arbejde.

<TableOfContents/>

<h2>Effundo er en nonprofitorganisation</h2>

Som nonprofitorganisation, er vi i Effundo ikke interesserede i at profitere på vores hjælp til andre nonprofitorganisationer. Altså har vi ikke til formål at tjene penge, og vi har ingen aktionærer, der sidder og profiterer på vores arbejde. Vi har valgt at være rettet mod nonprofit, da nonprofitorganisationer i forvejen kan være pressede på det økonomiske, og digitale webløsninger kan være en dyr investering. Effundo giver disse organisationer muligheden for at få webløsninger gratis, så de kan koncentrere sig om at bruge deres penge på folk, der faktisk har brug for deres hjælp.

<h2>Effundo bygger på frivilliges arbejde</h2>

Arbejdskraften i Effundo bygger på det hårde arbejde fra engagerede frivillige, der deler ambitionen om at fremme nonprofitorganisationers digitale tilstedeværelse. Drivkraften bag er visionen om at gøre verden til et bedre sted for de mennesker, der er afhængige af hjælp fra nonprofitorganisationer. Da en organisation ikke kan drives uden omkostninger, er det derfor afgørende for Effundo, at der er folk, der er villige til at støtte os økonomisk, så vi eksempelvis kan dække udgifter til brug af vores domæne, CMS-udvidelser og administrativ hjælp. Din hjælp gør det muligt for os at kunne prioritere mere af vores tid til at arbejde for Effundo, da man som frivillig er nødt til at have en indtægt fra et separat arbejde, så man har råd til de basale fornødenheder i livet.

<h2>Din støtte har stor betydning</h2>

Effundo er afhængig af økonomiske bidrag fra venlige sjæle. Din støtte betyder, at vi fortsat kan hjælpe andre nonprofitorganisationer med at udvikle deres hjemmeside, gennemføre søgemaskineoptimering og gøre dem webtilgængelige for handicappede brugere. Din hjælp til Effundo gør det muligt for nonprofitorganisationer, som for eksempelvis Red Barnet, at kunne nå ud til flere mennesker og give børn den hjælp, de så desperat har brug for.

<h2>Giv os din støtte</h2>

Vi har brug for din støtte og alle bidrag hjælper. Store som små, så kan ethvert bidrag hjælpe os med at fortsætte vores arbejde for at fremme nonprofitorganisationers digitale tilstedeværelse. Vi værdsætter alt den hjælp, vi kan få. I det følgende, har du mulighed for at donere et valgfrit beløb til vores kamp for nonprofitorganisationerne.

@*TODO: Insert PayPal button*@
@code {

}
