@page "/vores-formaal"
@using EffundoTest.Component.TableOfContents
<PageTitle>Voresformaal</PageTitle>

<h2>Vores formål</h2>

Effundo har til formål at fremme <a href="https://ordnet.dk/ddo/ordbog?query=nonprofitorganisation">nonprofitorganisationers</a> digitale tilstedeværelse. Dette indebærer, at vi leverer rådgivning om opsætning og drift af hjemmesider, om <a href="https://da.wikipedia.org/wiki/S%C3%B8gemaskineoptimering">søgemaskineoptimering</a> (engelsk:
<i>search engine optimization</i>, SEO) og om <a href="https://digst.dk/digital-service/webtilgaengelighed/">webtilgængelighed</a> (engelsk: accessibility). På denne side kan du læse om vores formål, og hvorfor det giver mening at have en hjemmeside, at sikre, at den er søgemaskineoptimeret og webtilgængelig for alle, samt hvilke kriterier, vi stiller for udbuddet af vores hjælp.

<TableOfContents/>

<h2>Udarbejdelse af Hjemmesider</h2>
Udover at levere rådgivning, assisterer vi med udarbejdelsen af hjemmesider, gennemførelse af SEO, og optimering af webtilgængelighed. Disse fokusområder er alle afgørende for en organisations digitale tilstedeværelse af flere grunde.

<strong>Effundo tilbyder gratis hjælp med udarbejdelse af hjemmesider, SEO og webtilgængelighed til alle nonprofitorganisationer.</strong>

En digital tilstedeværelse er bl.a. omkostningsbesparende for leveringen af informationer til interessenter, da den digitale platform giver interessenten mulighed for nemt at tilgå informationer om organisationen uanset, hvor interessenten befinder sig. Disse informationer bliver leveret uden behov for interaktion med en medarbejder for organisationen, hvorfor ressourcer bliver sparet.

<h2>Søgemaskineoptimering (SEO)</h2>

Ved at gennemføre SEO øger man chancen for, at ens hjemmeside bliver rangeret højt på Googles søgeresultatside (engelsk: search engine result page, SERP). En høj rangering indikerer, at Google vurderer din side som et godt match med det, som interessenten søger efter. På denne måde øges chancen for, at interessenter vælger at besøge lige netop din hjemmeside.

At gennemføre SEO omhandler bl.a. at udvælge et bestemt søgeord eller søgefrase og tilpasse sidens titel, metabeskrivelse og indhold til at reflektere dette søgeord. Når Google indekserer din side vil dens algoritme have større chance for at få en bedre forståelse af din sidens indhold og formål, og dette vil skabe en forbedring i den rangering på Googles søgeresultater.

<h2>Webtilgængelighed (Accessibility)</h2>

Vores fokus på webtilgængelighed har til formål at øge handicappedes muligheder for at benytte en hjemmeside. Handikappede anslås at udgøre mellem 15%-20% af den globale befolkning, og fokus på webtilgængelighed har derfor et potentiale til også at gøre din hjemmeside brugbar for de sidste andel af befolkningen.

Webtilgængelighed omhandler at strukturere, kode og opsætte en hjemmeside, så den kan anvendes på tværs af forskellige fysiske og psykiske kapaciteter. Dette indebærer bl.a. at sikre en tilstrækkelig farvekontrast mellem tekst og baggrund, så en tekst kan læses af farveblinde eller under forhold, hvor computerskærmen er under kraftig belysning. Webtilgængelighed gavner ikke alene handikappede, men alle brugere og giver samlet en bedre oplevelse af et besøg på en hjemmeside.

<h2>Hjælp til Nonprofitorganisationer</h2>

Effundo tilbyder hjælp til alle nonprofitorganisationer, hvilket indebærer alle organisationer og foreninger, der opererer uden til formål at genere profit. Formålet med dette er at prioritere en indsats for de organisationer, der, uden et kommercielt fokus, aktivt prøver at hjælpe andre mennesker.

Der er mange måder at hjælpe andre mennesker på, hvorfor eksempler på nonprofitorganisationer, i vores øjne, eksempelvis kan være:

<ul>
  <li>Velgørenhedsorganisationer</li>
  <li>Nødhjælpsorganisationer</li>
  <li>Foreninger for handikappede, tilskadekomne, personer med diagnoser, med sorg og lign.</li>
  <li>Organisationer for marginaliserede grupper</li>
</ul>

<h2>Uafhængighed og Neutralitet</h2>
Effundo er som organisation uafhængig af partipolitiske, religiøse og kommercielle interesser. Dette indebærer, at Effundo ikke kan lade sig påvirke af partipolitiske forhold; vi er ikke interesserede i religiøse skel; og vi kan ikke påvirkes af nogen kommerciel indflydelse.

Effundo diskriminerer ikke, men står klar med åbne arme for at tilbyde hjælp til enhver nonprofitorganisation uanset deres politiske, religiøse og kommercielle tilhørsforhold. Formålet med Effundo er alene at hjælpe andre nonprofitorganisationer med at gøre verden bedre.
@code {

}
